@using MovingScrewdriver.Web.Infrastructure
@{
    var currentYear = ApplicationTime.Current.Year;
}

<section>
    <h1>Powrót do Przyszłości</h1>
    <p>
        Chciałebym zacząć pisać w <strong>@ViewBag.Year</strong> roku jednak byłem młody, wybacz mi :(
    </p>
    <p>
        Możesz zawsze zobaczyć nowsze posty, na przykład 
        <a href="@Url.Action("ByDate", "PostsByDate", new { year = currentYear })">
            z tego roku
        </a>.
    </p>

</section>