@model MovingScrewdriver.Web.ViewModels.PostsViewModel 

<section>
    <h1>@ViewBag.ArchiveTitle</h1>

    <hr />

    @if (Model.IsFirstPage)
    {
        <p>
            Tego dnia/miesiąca/roku nic nie opublikowałem :(
        </p>
    }
    else
    {
        <p>
            Może kiedyś uda mi się w ciągu dnia/miesiąca/roku napisać <strong>@Model.CurrentPage</strong> stron postów :) jednak tego tym razem na pewno tego nie osiągnąłem.
        </p>
        <p>
            Przepraszam za kłopot, kliknij 
            <a href="@Url.Action("ByDate", new { page = Model.LastPage, year = ViewBag.Year, month = "{0:00}".FormatWith((int)ViewBag.Month), day = ViewBag.Day })" 
               title="Przekierowanie na stronę @Model.LastPage">tutaj</a> 
            a zostaniesz przekierowany do ostatniej strony zawierającej posty.
        </p>
    }
        
</section>

