
@{
    ViewBag.Title = "Las krzyży";
}

<article class="post">
    <header>
        <h1>Las</h1>
    </header>
    
    <div class="entry">
        
        <dl class="dl-horizontal">
            <dt>Reżyser</dt>
            <dd>Jak to „to ten”?! Chcesz powiedzieć, że ten obiekt znajduje się w zasięgu mojego wzroku? Pokaż go, to palcem, bo chciałbym uwierzyć, że śnię.</dd>
            <dt>Adam</dt>
            <dd>No to.</dd>
            <dt>Reżyser</dt>
            <dd>To?! Co to jest?!</dd>
            <dt>Adam</dt>
            <dd>No jak to co? Las.</dd>
            <dt>Reżyser</dt>
            <dd>Możesz mi powiedzieć: po chuj mi las?</dd>
            <dt>Adam</dt>
            <dd>Jak to „po chuj”? W scenopisie pisze, że las, jest napisane...</dd>
            <dt>Reżyser</dt>
            <dd>W scenopisie? Znajdź mi to w scenopisie.</dd>
            <dt>Adam</dt>
            <dd>Proszę: „Kiedy wjechali na wyniosłość drogi, oczom ich ukazał się las”.</dd>
            <dt>Reżyser</dt>
            <dd>Przewróć stronę.</dd>
            <dt>Adam</dt>
            <dd>O kurwa...</dd>
            <dt>Reżyser</dt>
            <dd>Czytaj!</dd>
            <dt>Adam</dt>
            <dd>„Oczom ich ukazał się las... krzyży”.</dd>

        </dl>
    </div>
</article>