
@{
    ViewBag.Title = "Ups, błąd";
}

<article class="post">
    <header>
        <h1>Nikt nie jest doskonały</h1>
    </header>
    
    <div class="entry">
        <p>a tym bardziej ten blog :(</p>
        <p>
            Ale info o błędzie już mam, więc możliwe iż uda mi się go w miarę szybko naprawić :)
        </p>
    </div>
</article>