<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
        name="debugger"
        xsi:type="OutputDebugString"
        layout="[${date:format=HH\:mm\:ss}] ${callsite:className=True:methodName=False} ${message} ${newline}"
            />
    <target
        name="file-trace"
        xsi:type="File"
        fileName="${basedir}/App_Data/Logs/trace.txt"
        archiveFileName="${basedir}/App_Data/Logs/archives/trace.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="120"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
        />
    <target
        name="file-debug"
        xsi:type="File"
        fileName="${basedir}/App_Data/Logs/debug.txt"
        archiveFileName="${basedir}/App_Data/Logs/archives/debug.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="120"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
        />
    <target
        name="file-warn"
        xsi:type="File"
        fileName="${basedir}/App_Data/Logs/warn.txt"
        archiveFileName="${basedir}/App_Data/Logs/archives/warn.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="120"
        layout="${date:format=MM-dd HH\:mm\:ss} | [${level}] | ${logger}${newline}IP: [${aspnet-request:serverVariable=remote_addr} | ${aspnet-request:serverVariable=remote_host}],browser: ${aspnet-request:serverVariable=http_user_agent}${newline}referer: ${aspnet-request:serverVariable=http_referer}${newline}Thread: ${threadid} | User: ${identity} | ${stacktrace} ${newline}${message} ${newline}"
        />
    <target
        name="file-errors"
        xsi:type="File"
        fileName="${basedir}/App_Data/Logs/errors.txt"
        archiveFileName="${basedir}/App_Data/Logs/archives/errors.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="120"
        layout="${date:format=MM-dd HH\:mm\:ss} | [${level}] | ${logger}${newline}IP: [${aspnet-request:serverVariable=remote_addr} | ${aspnet-request:serverVariable=remote_host}],browser: ${aspnet-request:serverVariable=http_user_agent}${newline}referer: ${aspnet-request:serverVariable=http_referer}${newline}Thread: ${threadid} | User: ${identity} | ${stacktrace} ${newline} ${message} ${newline}${exception:format=tostring}${newline}"
        />
  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="debugger,file-trace" />
    <logger name="*" minlevel="Debug" writeTo="debugger,file-debug"/>
    <logger name="*" level="Warn" writeTo="file-warn"/>
    <logger name="*" minlevel="Error" writeTo="file-errors"/>
  </rules>
</nlog>