<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>

    <httpRuntime enableVersionHeader="false" />
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="StaticContent" duration="600" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
          <add name="DynamicContent" duration="60" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

  </system.web>

  <system.webServer>

    
    
  </system.webServer>
</configuration>