@model string[]

<section>
    <h1>Niestety, tag <em>@ViewBag.Slug</em> nie istnieje</h1>
    <hr />
    
    <p>
        Czy chodziło Ci może o:
    </p>
    <ul>
        @foreach (var suggest in Model)
        {
            <li><a href="@Url.Action("ByTags", new { slug = suggest })">@suggest</a></li>
        }
    </ul>

</section>