@{
    ViewBag.Title = "O Mnie";
}

<article class="post">
    <header>
        <h1>O mnie</h1>
    </header>
    
    <div class="entry">
        
        COS MOZNA NAPISAC

    </div>
    

</article>