
<section>
    <h3>O mnie</h3>
    <figure>
        <a href="#">
            <img src="@Url.Content("~/apple-touch-icon-144x144-precomposed.png")" alt="Blog Logo" />
        </a>
    </figure>
    <p>
        <a href="#">Cos tam cos tam</a>
    </p>
</section>