
<section>
    <h3>Polecam</h3>
    <figure>
        <a href="http://dotnetblogs.pl">
            <img src="@Url.Content("~/content/images/dnbpl.png")" alt=".NET Blogs PL" />
        </a>
        <a href="http://dotnetomaniak.pl/">
            <img src="@Url.Content("~/content/images/dotnetomaniak_logo_small.png")" alt="dotNETomaniak" />
        </a>
        <a href="http://devpytania.pl/">
            <img src="@Url.Content("~/content/images/dp.png")" alt="devPytania" />
        </a>
    </figure>
</section>